
#main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 360px;
    border-radius: 15px;
    background-color: white;
    margin-top: 110px;
    font-family: 'Roboto', sans-serif;
}

#txt{
    margin-top: 30px;
    width: 300px;
    height: 34px;
    border: none;
    box-shadow: 0px 0px 2px black;
    user-select: none;
}

#txt::placeholder{
    font-size: 15px;
    text-align: justify;
}

#but{
    position: absolute;
    left: 295px;
    top: 140px;
    height: 34px;
    width: 52px;
    border: none;
    background-color: #FB5B5A;
    color: white;
    font-size: 15px;
    user-select: none;
}

#but:hover{
    background-color: #ff6c6c;

}


#box ul li{
    display: block;
    background-color: #A5C9CA;
    color: #2E4F4F;
    padding: 12px;
    font-weight: bold;
    user-select: none;
    margin-top: 15px;
}
#box ul{
    margin-top: 15px;
    width: 300px;
    
}

#del{
    position: sticky;
    left: 820px;
    top: 215px;
    user-select: none;
    font-size: 25px;
}

#del:hover{
    color: #FB5B5A;
    cursor: pointer;

}